.js__webgame-lotto {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #456789;
  width: 300px;
  height: 300px;
  border: 1px solid #ffffff;
}

.lotto__ball,
.lotto__bonus {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
